body {
  margin: 0;
}

.nba {
  position: top;
}

.banner {
  position: sticky;
  top: 0px;
  background-color: #c8102e;
  color: white;
  border: 5px #1d428a solid;
}

.bottom1,
.bottom2,
.bottom3,
.bottom4 {
  margin: 0px 70px;
  display: inline-block;
  font-size: 50px;
  text-align: justify;
}
.bottom1:hover,
.bottom2:hover,
.bottom3:hover,
.bottom4:hover{
  background-color: white;
  color: #c8102e;
  margin: 0px 70px;
  display: inline-block;
  font-size: 50px;
  text-align: justify;
}

.bottom1:visited, .bottom2:visited,.bottom3:visited,.bottom4:visited {
  color: white;
}

.titulo {
  text-align: center;
  font-size: 100px;
  margin-top: 0px;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(128, 128, 128);
  margin: 0px;
  text-overflow: clip;
  white-space: nowrap;
  height: 115px;
  animation: animacao-ti 60s infinite linear;
  overflow: hidden;
  animation-timing-function: ease-in-out;
}
@keyframes animacao-ti {
  0% {
    margin-left: -270%;
  
  }
  100% {
    margin-left: 100%;
  }
  
}



.noticiautah {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  float: left;
  width: 55%;
}

.noticiautah:hover {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  float: left;
  width: 55%;
  color: #c8102e;
}

.fotodonavan {
  float: left;
  width: 40%;
  padding: 1%;
}



.noticiasuns {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  float: left;
  width: 55%;
  padding: 1%;
}

.noticiasuns:hover {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;

  color: #c8102e;
}

.fotoayton {
  float: left;
  width: 40%;
  padding: 1%;
}

body {
  background-color: beige;
}

.div-noticia {

  height: 100%;
  background-color: gray;
  border-left: 5px #1d428a solid;
  border-right: 5px #1d428a solid;
  border-bottom: 5px #1d428a solid;
}

.noticiaboston {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  float: left;
  width: 55%;
  padding: 1%;
}

.noticiaboston:hover {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;

  color: #c8102e;
}

.fotodurant {
  float: left;
  width: 40%;
  padding: 1%;
}

